*
{
    font-family:FangSong,SimSun,"Times New Roman",Georgia,Serif;
    word-break: break-all; 
    word-wrap:break-word;
    letter-spacing: 0.5mm;
}
h2
{
    font-size:20px;
    font-weight:bold;
}
img
{

}
body
{
    display:-webkit-box;
    display: box; 
    -webkit-box-orient: vertical; 
    margin-right:10px; 
}
a{
    text-decoration:none;
}
div#navbar
{
    margin-top:20px; 
    margin-bottom:40px;
    width:100%;
}
div#navbar-inner
{
    min-height:40px;
    background-color:#fafafa;
    padding-top: 0px; 
    padding-bottom:8px;
    border:1px solid #d4d4d4;
    border-radius:4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);display:box;
    box-orient:horizontal;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
div#navcontainer
{
    font-weight: bold;
    line-height:0;
    font-size:18px;
    margin:auto;
    margin-top:0; 
    max-width:800px;
}
ul 
{
    list-style:none;
}
div#navcontainer li
{	
    border-right:1px solid #ccc;  
    padding:10px 20px 10px;	
    float:right;
}
div#navcontainer li:hover
{
    border-radius:4px; 
    background-color:grey;
    opacity:0.4; 
}
#area
{
    margin:auto; 
    max-width: 800px; 
    border: 1px solid #ccc; 
    border-top-right-radius:100px;
}
#Indexpost
{
    line-height:30px;
    margin:0px 10px 0px 0px; 
}
#Indexpost li
{
    max-height:400px;
    max-width:500px;
    border-bottom: 2px solid #ccc;
    overflow:hidden;
    text-overflow:ellipsis;
}
.area
{
    background-color:hsl(48, 33%, 94%);
    min-height:600px;
    margin:50px 20px 10px 14px; 
}
#tagUl
{
    height:300px;
    font-size:24px;
}
#tagUl li
{
    text-align:center;
    width:200px;
    margin-right:20px;
    margin-bottom:20px;
    float:left;
    border: 1px solid #ccc;
    border-radius:5px;
}
#tagUl li:hover
{
    background-color:yellow;
    opacity:0.5;
    transform:
}
article
{
    margin-left:20px;
    margin-bottom:20px;
}
