/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; 
width: 100%;
background-image: url(/images/bg1.jpg);
background-attachment: fixed;
	background-position: top left;;
	background-repeat: no-repeat;
/*--	background-image: url(/images/bg1.jpg);-->*/
}
nav#navBarTop {
	position: fixed;
	left: 0;
    top: 0;
	width: 100%;
	height: 60px;
	z-index: 32;
	
    background-color: #102040;
	box-shadow: 0 2px 4px #102040;
	opacity: 0.60;
}
nav#navBarBottom {
	position: fixed;
	left: 0;
    bottom: 0;
	width: 100%;
	height: 42px;
	z-index: 32;
	
	background-color:#BFBFBF;
	box-shadow: 0 -2px 4px grew;
	opacity: 0.50;c
	color: #fff;
}
img.navDock {
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}

img.navDock:hover {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}
nav .navBarTopleft{
position: absolute;
text-align: center;
left: 2%;
padding-left: 16px;
padding-top: 12px;

}
nav .navFooter {
    position: relative;
text-align: center;
	left: 0;
    top: 0;
	padding-left: 16px;
	padding-top: 5px;
}
nav li {
	display: inline;
	padding-right: 8px;
	
    font-size: 12px;
	color: #fff;
}
nav .navBarListRight {
    position: absolute;
	right: 0;
    top: 6px;
	padding-right: 16px;
	padding-top: 5px;
}
div#PostShow{
position: absolute;
top:100px;
right: 10%;
}

div#divBanner {
	position: fixed;;
	left: 4%;
    top: 24%;
	width: 32%;
    padding: 16px;
    
    text-align: center;
    font-size: 16px;
    text-shadow: 0 0 16px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */

div.divCategory div.divIndex:hover {
    border-radius: 4px;
	box-shadow: 0 0 0 2px #102040;
}

div.divCategory div.divIndexTitle {
	left: 0;
	width: 100%;
}

div.divCategory div.divIndexDate {
	position: relative;
	left: 70%;
    top: 0;
	width: 30%;
	
	text-align: right;
}

div#divTitle {
	position: fixed;
	left: 4%;
    top: 128px;
	width: 30%;
	
	text-align: center;
    color: #102040;
    text-shadow: 0 0 16px #fff;
}
div.divCategory {
	position: relative;
	padding: 16px;
	margin-bottom: 16px;
    
	background-color: black;;
	border-radius: 8px;
	box-shadow: 0 0 16px 0 #fff;
	opacity: 0.60;
	color: #fff;
}

div.divCategory a {
    color: #fff;
	font-weight: bold;
	text-decoration: none;
	
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}

div.divCategory a:hover {
	color: #102040;
}

div.divCategory h1.hTitle1 {
	position: relative;
	top: -8px;
	
	font-size: 16px;
	font-weight: bold;
}

div.divCategory h1.hTitle2 {
	position: relative;
	top: -8px;
	
	font-size: 13px;
	font-weight: bold;
}

div.divCategory div.divExtLinks {
	position: absolute;
	right: 16px;
    top: 16px;
	width: 50%;
	
	text-align: right;
}

div.divCategory article.articleScrap {
	position: relative;
	padding: 8px;
	margin-top: 0px;
	
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 8px 0 #102040;
	opacity: 0.95;
    color: #102040;
}

div.divCategory article.articleScrap a {
    color: #102040;
	font-weight: bold;
    text-decoration: none;
}

div.divCategory article.articleScrap a:hover {
    text-decoration: underline;
}

div.divCategory aside.asideScrap {
	position: absolute;
	left: 55%;
	width: 40%;
	
	text-align: right;
	font-size: 12px;
	font-weight: bold;
}

div.divCategory section.sectionScrap {
	position: relative;
	left: 0;
	width: 100%;
	
	font-style: italic;
}

div.divCategory img.imgScrap {
	border-radius: 4px;
	
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}

div.divCategory img.imgScrap:hover {
	box-shadow: 0 0 8px 2px #102040;
}

div.divCategory div.divIndex {
	position: relative;
	margin-bottom: 4px;
	
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}

div.divCategory div.divIndex:hover {
    border-radius: 4px;
	box-shadow: 0 0 0 2px #102040;
}

div.divCategory div.divIndexTitle {
	left: 0;
	width: 100%;
}

div.divCategory div.divIndexDate {
	position: relative;
	left: 70%;
    top: 0;
	width: 30%;
	
	text-align: right;
}
div#divTitle div#divTitleNav {
	position: fixed;
	left: 4%;
    bottom: 128px;
	width: 30%;
}

div#divPost {
	position: absolute;
	left: 38%;
    top: 128px;
	width: 56%;
	padding: 16px;
	border-radius: 8px;
	box-shadow: 0 0 8px 0 #fff;
	opacity: 0.40;
	color: #000;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
