<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body >
<nav id="navBarTop">
   <ul class="navBarTopleft">
            <li><a href="/"><img src="/images/home.png" alt="home" title="Home" class="navDock" height="32" /></a></li>
        </ul>
</nav>
<nav id="navBarBottom">       
 <div class="navFooter">
            <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank"><img src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" height="28" alt="CC BY-SA 3.0 License" title="CC BY-SA 3.0 License" /></a>
                © 2013 <a href="https://github.com/gikieng" >Desing by Gi Kieng</a>
            </div></nav>
<div id="divMenu"></div>
<div id="divBanner">
<font color="white">
<br/>
          ​​☆﻿ Blog personel Gikieng<br>
    <span style="font-size:56px">
         「暗黙の夜」</p></span><br>
     <span style="font-size:32px" >
                        黑夜隐  ​      <br/></span>
    <span style="font-size:20px" >Just Do IT</span><br>
     </font></div>
</div>

</div>
</body>
</html>
