<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" /> 
<title>活在代码里</title>
<meta name="viewport" ,="" content="width=device-width, initial-scale-1.0">
<meta property="og:site_name" content="">
<meta name="KEYWords" contect="blog">
<meta name="Author" contect="gikieng">
<meta name="Robots" contect="all">
<meta http-equiv="PageEnter" contect= "revealTrans(duration=20,transtion=6)">
<link rel  =  " stylesheet " href="/css/main.css" />	
<link rel  =  " stylesheet " href = "/css/syntax.css" />
</head>
<body>
<div id="navbar">
    <div id="navbar-inner">
        <div id="navcontainer"><a style="border-left:1px solid #ccc; float:left;font-size:31px;padding:10px 20px 10px;" href="/">Home</a>
            <ul>
                <li><a href="/about.html">About</a></li>
                <li><a href="#">Lab</a></li>
                <li><a href="#">Archive</a></li>
                <li><a href="/categories.html">Categories</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="area">
    {{ content }}
</div>
<footer style = "text-align:center;margin:20px auto 40px auto; ">design by gikieng</footer>
</body>
</html>
