---
layout: default

author: Gikieng
---
<div id="divTitle">

    <div id="divTitleNav">
        <a href="/"><img src="/images/left-arrow.png" class="navDock" /></a>
    </div>
</div>

<div id="divPostshow">
    <h1>{{ page.title }}</h1>
    <p><div class="g-plusone" data-size="medium" data-annotation="none"></div></p>
    <p><b>{{ page.date | date_to_string }}</b>, by <b>{{ page.author }}</b></p>
    <p>{{ page.description }}</p>
    <article id="articlePost">
        {{ content }}
    </article>
    
</div>
